<h1>Employee Registration Page</h1>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">ID</label>
                    <input name="ID" [(ngModel)]="ID" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">First Name</label>
                    <input name="firstName" [(ngModel)]="firstName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Last Name</label>
                    <input name="lastName" [(ngModel)]="lastName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">House No</label>
                    <input name="houseNo" [(ngModel)]="houseNo" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">House Name</label>
                    <input name="houseName" [(ngModel)]="houseName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Street Name</label>
                    <input name="streetName" [(ngModel)]="streetName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Pincode</label>
                    <input name="Pincode" [(ngModel)]="Pincode" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">District</label>
                    <!-- <input name="District" [(ngModel)]="District" type="text" class="form-control"> -->

                    <select name="District" [(ngModel)]="District" id="" class="form-control">
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Idukki">Idukki</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Kannur">Kannur</option>
                        <option value="Kasargod">Kasargod</option>
                        <option value="Kollam">Kollam</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Kozhikode">Kozhikode</option>
                        <option value="Malappuram">Malappuram</option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                        <option value="Wayanad">Wayand</option>
                        <option value="None">None</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">State</label>
                    <!-- <input name="State" [(ngModel)]="State" type="text" class="form-control"> -->

                    <select name="State" [(ngModel)]="State" id="" class="form-control">
                        <option value="Andhra Pradhesh">Andhra Pradhesh</option>
                        <option value="Arunachal Pradhesh">Arunachal Pradhesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chattisgarh">Chattisgarh</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradhesh">Himachal Pradhesh</option>
                        <option value="Jharkhand">Jharkand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Madhya Pradhesh">Madhya Pradhesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="Uttar Pradhesh">Uttar Pradhesh</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="None">None</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Country</label>
                    <!-- <input name="Country" [(ngModel)]="Country" type="text" class="form-control"> -->

                    <select name="Country" [(ngModel)]="Country" class="form-control">
                        <option value="India">India</option>
                        <option value="China">China</option>
                        <option value="Australia">Australia</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="South Africa">South Africa</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Finland">Finland</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Canada">Canada</option>
                        <option value="None">None</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Mobile No</label>
                    <input name="mobileNo" [(ngModel)]="mobileNo" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Email ID</label>
                    <input name="emailID" [(ngModel)]="emailID" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Parent Name</label>
                    <input name="parentName" [(ngModel)]="parentName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Gender</label>
                    <input name="Gender" [(ngModel)]="Gender" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Highest degree</label>
                    <input name="highestDegree" [(ngModel)]="highestDegree" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Year of Experience</label>
                    <input name="YearofExperience" [(ngModel)]="YearofExperience" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Date of joining</label>
                    <input name="DateofJoining" [(ngModel)]="DateofJoining" type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Password</label>
                    <input name="password" [(ngModel)]="password" type="password" id="1" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="label-control">Confirm Password</label>
                    <input name="confirmPassword" [(ngModel)]="confirmPassword" type="password" name="2" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button (click)="checkPassword()" class="btn btn-success">Register</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/employeePortal">back to employee login</a>
                 </div>
            </div>
        </div>
    </div>
</div>