<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img height=600px src="https://www.slideteam.net/media/catalog/product/cache/960x720/b/u/business_milestone_with_upward_going_arrow_slide01.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Company performance</h5>
          <p>Growing trend</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img height=600px src="https://th.bing.com/th/id/OIP.6ImtI4C-TQiIAYadXkX-kwHaEc?pid=ImgDet&rs=1" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Team Outings</h5>
          <p>Celebrating achievements</p>
        </div>
      </div>
      <div class="carousel-item">
        <img height=600px src="https://th.bing.com/th/id/OIP.bkklAUX0nvV5NYX4u6DiCQHaE8?pid=ImgDet&rs=1" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Wellbeing of Employees</h5>
          <p>People are the key</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>